.content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noticate-text {
  font-size: 60px;
  font: 'Playfair Display';
  color: '#48536A';
  margin-top: 0;
}
