p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px
}

.accOpptions {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin-top: 2vh;
}

.all-notes {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteEntry {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 85vw;
  margin-top: 15vh;
}

.noteLeft {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 25vw;
  background-color: #efe8eb
}

.noteMiddle {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 25vw;
  background-color: #E8ECEF
}

.noteRight {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 25vw;
  background-color: #E8ECEF
}

.noteTitle {
  font-size: calc(20px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}