#content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.navigation-row {
  flex-direction: row;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 40vw;
  margin-top: 3vh;
  margin-right: 3vw;
}

.nav-icon {
  color: #555555;
}

.filter-options {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin-top: 2vh;
}

.filter {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #6B7A99;
  font-weight: bold;
  font-size: calc(8px + 2vmin);
}

.search-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  border-radius: 10px;
  border-color: #000;
  border-width: 1px;
  width: 17vw;
  height: 4.5vh;
}

.search-input {
  border-style: solid;
  border-color: #FFF;
}

.notes-feed {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-entry {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 50%;
  width: 85vw;
  margin-top: 5vh;
}

.note-left {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 90vh;
  width: 50vw;
  background-color: #E8ECEF
}

.note-right {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 35vw;
  background-color: #E8ECEF
}
